*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    margin-left: 0%;
}
main{
    width: 100%;
    padding: 20px;
   
}
.sidebar{
    background: #0c0909;
    color: #dfe1eb;
    height: 100vh;
    width: 100px;
    transition: all 0.5s;
    
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 40px;

}
.bars{
    display: flex;
    font-size: 30px;
    margin-left: 50%;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #140c0c;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #e7dbdb;
}
.icon, .link_text{
    font-size: 20px;
}
.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(241, 239, 239);
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
